.ui-menu {
   // width: 150px;
}

.my-main {
    width: 640px;
    height: 480px;
}

.prompt-delete span {
	padding: 0px !important;
	
}

.prompt-insert span {
	padding: 0px  !important;
	
}

.prompt-word .ui-menu {
    padding-bottom: 0px;
    padding-top: 0px;
}
@media ( max-width : 640px) {
    .my-main {
        width: 100%;
        height: 100%;
    }
    .my-memento-scroll {
        overflow-y: auto;
        height: 100%;
    }
    .my-acronym-scroll {
        overflow-y: auto;
        height: 100%;
    }
}

.my-panes {
    height: 100%;
}

.my-memento-scroll {
    overflow-y: auto;
    height: 460px;
}

.my-acronym-scroll {
    overflow-y: auto;
    height: 460px;
}
